<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="RDM Logo" src="assets/icons/icon-192x192.png">
</div>
<h2>Here are some links to help you start</h2>
<ul>
  <li>
    <h2>Rei da mesa</h2>

    <button (click)="signOut()">Sign Out</button>
    <button (click)="openCredentialSelector()">Open Cred Sel</button>
    <button (click)="closeCredentialsSelector()">Close Cred Sel</button>
  </li>
</ul>

